body{
    background-color: teal;
}
body {
  text-align: center;
 }

#page-wrap {
  text-align: left;
  width: 800px;
  margin: 0 auto;
}

h1 {
    color: white;
}
h2 {
    color: white;
}

ul {

  list-style-position: inside;
    background: #3399ff;
    padding: 20px;
}
