body{
    background-color: teal;
}
body {
  text-align: center;
  background: #E1F5FE;
  padding: 20px;
 }

#page-wrap {
  text-align: left;
  width: 800px;
  margin: 0 auto;
}

h1 {
    color: white;
}
h2 {
    color: white;
}
p {
  color: black;

}

ul {
  text-align: left;
  list-style-position: inside;
    background: #3399ff;
    padding: 20px;
}
