<style>
  .button.button-primary, button.button-primary, input [type="submit"].button-primary, input [type="reset"].button-primary, input [type="button"].button-primary {
    color: #fff;
    background-color: #33C3F0;
    border-color: #33C3F0;
}

body{
    background-color: teal;
}
body {
  text-align: center;
  padding: 20px;
 }

#page-wrap {
  text-align: left;
  width: 800px;
  margin: 0 auto;
}

h1 {
    color: #000000;
}
h2 {
    color: black;
}
p {
  color: black;

}

ul {
  text-align: left;
  list-style-position: inside;
    background: #3399ff;
    padding: 20px;
